@page "/arrivalsdata"

<PageTitle>Arrivals Data</PageTitle>

@using EmployeesArrivalTracker.BlazorServer.Data
@inject ArrivalService ArrivalService

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<style>
    .sort-th
    {
        cursor: pointer;
    }

    .fa
    {
        float: inline-end;
    }
</style>

<h1>Arrivals Data</h1>

@if (arrivals == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
        <thead>
            <tr>
                <th class="sort-th" @onclick="@(() => SortTable("EmployeeId"))">
                    EmployeeId
                    <span class="fa @(SetSortIcon("EmployeeId")) " ></span>
                </th>
                <th class="sort-th" @onclick="@(() => SortTable("ArrivalDatetime"))">
                    Arrival Datetime
                    <span class="fa @(SetSortIcon("ArrivalDatetime")) " ></span>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in arrivals)
            {
                <tr>
                    <td>@item.EmployeeId</td>
                    <td>@item.ArrivalDatetime</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Arrival[]? arrivals;

    protected override async Task OnInitializedAsync()
    {
        arrivals = await ArrivalService.GetArrivalsAsync();
    }

    private bool isSortedAscending;
    private string activeSortColumn;

    private void SortTable(string columnName)
    {
        if(columnName != activeSortColumn)
        {
            arrivals = arrivals.OrderBy(x => x.GetType().GetProperty(columnName).GetValue(x, null)).ToArray();
            isSortedAscending = true;
            activeSortColumn = columnName;
        }
        else
        {
            if(isSortedAscending)
            {
                arrivals = arrivals.OrderByDescending(x => x.GetType().GetProperty(columnName).GetValue(x, null)).ToArray();
            }
            else
            {
                arrivals = arrivals.OrderBy(x => x.GetType().GetProperty(columnName).GetValue(x, null)).ToArray();
            }

            isSortedAscending = !isSortedAscending;
        }
    }

    private string SetSortIcon(string columnName)
    {
        if(activeSortColumn != columnName)
        {
            return string.Empty;
        }
        if(isSortedAscending)
        {
            return "fa-sort-up";
        }
        return "fa-sort-down";
    }

}
